src/main/resources/schema/c073z070413.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tabela_kursow" type="tabela_kursowType"/>
  <xs:complexType name="tabela_kursowType">
    <xs:sequence>
      <xs:element type="xs:string" name="numer_tabeli"/>
      <xs:element type="xs:string" name="data_notowania"/>
      <xs:element type="xs:string" name="data_publikacji"/>
      <xs:element type="pozycjaType" name="pozycja" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="typ"/>
  </xs:complexType>
  <xs:complexType name="pozycjaType">
    <xs:sequence>
      <xs:element type="xs:string" name="nazwa_waluty"/>
      <xs:element name="przelicznik">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="kod_waluty"/>
      <xs:element type="xs:string" name="kurs_kupna"/>
      <xs:element type="xs:string" name="kurs_sprzedazy"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>